@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


li {
    list-style-type: none;
}

a {
    text-decoration-color: transparent;
}

img {
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

.half {
    width: 50%;
    margin: 0 16px;
}

.logo {
    width: 40px;
}

.purple {
    color: #6415FF;
}

.left {
    margin-left: 32px;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #6415FF;
    padding: 12px 32px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: all 450ms ease;
}

.btn:hover {
    background-color: #3E119A;
}

/* NAV */

nav {
    height: 44px;
    margin-bottom: 32px;
}

.nav__container {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--area {
    display: flex;
    align-items: center;
}

.nav__logo--text {
    font-weight: bold;
    font-size: 24px;
    color: #243E63;
    margin-left: 12px;
    transition: all 450ms ease;
}

.nav__logo--text:hover {
    color: #6415FF;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 16px;
    font-weight: bold;
    color: #243E63;
    padding: 4px;
    margin: 0 24px;
    transition: all 300ms ease;
}

.nav__link:hover {
    color: #6415FF;
    text-decoration-color: #6415FF;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

/* HEADER */

header {
    min-height: calc(100vh - 210px); 
}

.header__container {
    padding: 84px 0;
    display: flex;
    align-items: center;
}

.header__signup {
    width: 40%;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.header__img--wrapper {
    width: 60%;
}

.header__signup--title {
    font-size: 48px;
    color: #1A202C;
    margin: 20px 0;
}

.header__signup--para {
    color: #243E63;
    font-size: 18px;
    line-height: 1.5;
    margin: 28px 0;
}

.header__email {
    margin-bottom: 64px;
    display: flex;
    border: 2px solid rgb(124, 139, 161, 0.2);
    border-radius: 24px;
    padding: 6px;
    transition: all 200ms ease;
}

.header__email:hover  {
    border: 2px solid rgb(124, 139, 161, 1);
}

.header__email--input {
    font-size: 16px;
    font-weight: 400;
    padding: 12px 32px;
    flex-grow: 2;
    border:none;
}

.header__email--input:focus {
    outline: none;
}

/* 
attempted to make border highlight purple when selecting (focusing) on input field while typing
didn't work
.header__email--input:focus .header__email {
    border: 2px solid #6415FF;
} */
  
.header__email--input::placeholder { 
    color: #7C8BA1;
    opacity: 0.5; 
}

.header__signup--subtitle {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 12px;
}

/* SECTION HEADER CLASSES */

.section__heading {
    display: flex;
    flex-direction: column;
}

.section__heading--title {
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.section__heading--subtitle {
    font-weight: bold;
    font-size: 48px;
    color: #243E63;
    margin-bottom: 24px;
}

.section__heading--para {
    color:#7C8BA1;
    font-size: 18px;
    line-height: 1.5;
    max-width: 550px;
    margin-bottom: 20px;
}

.section__wrapper {
    display: flex;
    align-items: center;
}

.center__wrapper {
    align-items: center;
    text-align: center;
}

.services {
    /* padding: 0 32px; */
    display: flex;
    flex-wrap: wrap;
}

.service {
    padding: 24px 0;
    width: calc(100%/3);
    display: flex;
    
}

.service__content {
    margin-left: 20px;
}

.service__content--title {
    color: #243E63;
    font-size: 28px;
    margin-bottom: 16px;
}

.service__content--para {
    color: #7C8BA1;
    font-size: 18px;
    line-height: 1.7;
    max-width: 225px;
}

.service__img {
    width: 24px;
}

.service__img--wrapper {
    width: 66px;
    height: 66px;
    padding: 20px;
    border: 2px solid rgb(124, 139, 161, 0.2);
    border-radius: 50%;
}

/* STEPS */

.step {
    display: flex;
    margin-bottom: 16px;
}

.step__number {
    color: #CBD5E0;
    font-size: 36px;
}

.step__content {
    margin-left: 20px;
}

.step__content--title {
    color: #243E63;
    font-size: 28px;
    margin-bottom: 16px;
}

.step__content--para {
    color: #7C8BA1;
    font-size: 16px;
    line-height: 1.7;
    max-width: 300px;
}

/* VALUES */

.values__wrapper {
    padding: 8px;
    margin-bottom: 32px;
    display: flex;
}

.value {
    display: flex;
    flex-direction: column;
}

.value__header {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.value__header--title {
    font-size: 22px;
    color: #243E63;
    margin-left: 12px;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__img--wrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.affordable {
    background-color: #9AE6B4;
}

.professionalism {
    background-color: #FEB2B2;
}

.value__para {
    font-size: 16px;
    color: #718096;
    line-height: 1.7;
    max-width: 240px;
}

/* PRICING */
.plans {
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
}

.plan {
    width: calc(90%/3);
    margin: 0 16px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.second-plan {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    /* border-radius: 0.5rem; */
}

.plan__top {
    padding: 32px;
    
    /* border-top: 8px solid green; */
    /* border-top-width: 8px;
    border-top-style: solid; */
    /* border-top: 8px solid; */
    /* border-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%) 1;
    /*border-radius: 2.5% 2.5%;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(124, 139, 161, 0.2); */
    border: 2px solid rgb(124, 139, 161, 0.2);
    border-top: 8px solid rgb(124, 139, 161, 0.2);
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
}

.plan__border--top {
    /* border-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%); */
    
    /* border-top: 8px solid;
    border-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%) 1;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; */
}

.plan__top--second {
    border: none;
    border-top: 8px solid transparent;
    border-bottom: 2px solid rgb(102 126 234)
}

.plan__top--title {
    font-size: 24px;
    color: #1A202C;
    margin: 12px 0;
}

.plan__top--price {
    font-size: 52px;
    color: #1A202C;
    margin: 12px 0;
}

.plan__top--subtitle {
    font-size: 20px;
    color: #A0AEC0;
    margin: 8px 0;
}

.plan__middle {
    padding: 24px; 
    border: 2px solid rgb(124, 139, 161, 0.2);
    border-top: none;
}

.plan__middle--second {
    border: none;
    border-bottom: 2px solid rgb(102 126 234)
}

.plan__middle--title {
    font-size: 24px;
    color: #1A202C;
}

.plan__item {
    font-weight: 500;
    font-size: 18px;
    color: #718096;
}

.plan__middle--title, .plan__item {
    margin: 20px;
}

.plan__bottom {
    padding: 32px; 
    border: 2px solid rgb(124, 139, 161, 0.2);
    border-top: none;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
}

.price__btn {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 16px 72px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: all 250ms ease;
}

.first-btn {
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.second-btn {
    color:#6415FF;
    background: #F7FAFC;
}

.third-btn {
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


.price__btn:hover {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
}

.offwhite1 {
    color: #F7FAFC;
}

.offwhite2 {
    color: #E2E8F0;
}

/* TESTIMONIALS */

.test__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}

.test__header--title {
    margin: 12px 0;
    font-size: 20px;
    color: #243E63;
}

.test__para {
    color: #4A5568;
    line-height: 1.7;
    margin-bottom: 40px;
}

.test__reviewer {
    display: flex;
    justify-content: space-between;
}

.test__reviewer--profile {
    display: flex;
    align-items: center;
}

.test__img--wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    overflow: hidden;
}

.test__reviewer--title {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.test__name {
    color: #243E63;
    font-size: 20px;
    margin-bottom: 4px;
}

.test__position {
    color: #7C8BA1;
    font-size: 16px;
    font-weight: 500;
}

.test__arrows {
    display: flex;
    align-items: center;
}

.divider {
    margin: 0 12px 0 8px;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right: 1px solid #EDF2F7;
}

.test__arrow {
    width: 48px;
    height: 48px;
    background-color: #EDF2F7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 450ms ease;
}
.test__arrow--img {
    width: 30px;
    height: 30px;
}

.test__arrow:hover {
    background-color: #E2E8F0;
}

/* FAQS */

.accordians {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordian {
   width: 100%;
   max-width: 900px;
   background-color: #EDF2F7; 
   margin: 12px 0;
   padding: 20px 40px;
   border-radius: 0.5rem;
   transition: all 300ms ease;
}

.accordian:hover {
    background-color: #E2E8F0;
    cursor: pointer;
}

.faq__header {
    display: flex;
    justify-content: space-between;
}

.faq__title {
    color: #2D3748;
    font-size: 20px;
    font-weight: 500;
}

.faq__arrow {
    width: 24px;
    height: 24px;
}

.faq__para {
    display: none;
    margin-top: 24px;
    color: #2D3748;
    font-size: 16px;
    line-height: 1.7;
    transition-duration: 300ms;
}

.contact__wrapper {
    padding: 80px;
    width: 100%;
    background-color: #6415FF;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact__title {
    max-width: 500px;
    font-size: 30px;
    line-height: 1.5;
    color: #F7FAFC;
}

.contact__buttons {
    display: flex;
    justify-content: space-between;
}

.contact__btn1 {
    background-color: #F56565;
    margin-right: 32px;
    padding: 20px 40px;
    border-radius: 24px;
}

.contact__btn1:hover {
    background-color: #D03535;
}

.contact__btn2 {
    border: 1px solid rgb(160,174,192);
    padding: 20px 40px;
    border-radius: 24px;
}

.contact__btn2:hover {
    border: 1px solid #F7FAFC;
    background-color: #F7FAFC;
    color: #6415FF;
}

/* FOOTER */
footer {
    background-color: #6415FF;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.footer__link--menu {
    width: calc(100%/5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__link--title {
    font-size: 16px;
    color: #F7FAFC;
    margin-bottom: 24px;
}

.footer__link--wrapper {
    margin-bottom: 16px;
    font-weight: 500;
}

.footer__link {
    font-size: 14px;
    color: #F7FAFC;
    transition: all 450ms ease;
}

.footer__link:hover {
    text-decoration-color: #F7FAFC;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.horizontal__divider {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(116 44 255 / var(--tw-border-opacity));
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--wrapper {
    width: 32px;
    height: 32px;
}

.footer__logo--title {
    color: #F7FAFC;
    margin-left: 14px
}

.footer__copyright {
    color: #CBD5E0;
    font-size: 16px;
}

.footer__socials {
    display: flex;
    align-items: center;
}

.footer__img {
    width: 16px;
    height: 16px;
}

.footer__img--wrapper {
    width: 32px;
    height: 32px;
    margin: 0 8px;
    background-color: #E2E8F0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms ease;
}

.footer__img--wrapper:hover {
    background-color: #CBD5E0;
}
